<% wrap_layout :layout do %>
<div class="container">
  <article>
    <header>
      <h1><%= current_article.title %></h1>
      <time datetime="<%= current_article.date %>"><%= current_article.date.strftime('%b %e %Y') %> by Eric Kuhn</time>
    </header>
  </br>
    <%= yield %>
  </article>
      <div class="jumbotron-2">
      <div class="container">
          <h2 class="text-center">Receive my articles by email </p>
        </br>
            <form class="form-inline text-center" action="http://erickuhn19.us4.list-manage.com/subscribe/post" method="POST">
              <div class="form-group input-group-lg">
                <input type="hidden" name="u" value="9c56c0418442293daf66d0976">
                <input type="hidden" name="id" value="ffea399064">
                <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="your@email.com" autofocus>
                <button id="submit" class="btn btn-primary btn-lg" >Sign Up &raquo;</button>
              </div>
            </form> 
      </div>
    </div>
</div>
<% end %>