<% wrap_layout :layout do %>
<div class="container">
  <article>
    <header>
      <h1><%= current_article.title %></h1>
      <time datetime="<%= current_article.date %>"><%= current_article.date.strftime('%b %e %Y') %> by Eric Kuhn</time>
    </header>
  </br>
    <%= yield %>
  </article>
      <div class="jumbotron-2">
      <div class="container">
          <h2 class="text-center">Donate Bitcoin </p>
        </br>
            <a class="donate-with-crypto"
     href="https://commerce.coinbase.com/checkout/532134a9-4cfb-42fa-8f76-f6bf4f102ccd">
    <span>Donate with Crypto</span>
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js">
  </script>
      </div>
    </div>
</div>
<% end %>