<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></p>
    <p class="text-muted">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://www.twitter.com/erickuhn19">@erickuhn19</a></p>
  </div>
</footer>