<div class="jumbotron-3">
  <div class="container">
    <h1 class="text-center">What do you want to know?</h1>
    </br>
  </div>
</div>

<hr class="featurette-divider">

<div class="row">
  <div class="container">
    <ul class="list-group">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/images/eric.jpeg" alt="Eric Kuhn">
          <div class="caption">
            <h3>A not so outdated photo</h3>
            <p><a href="/contact" class="btn btn-primary" role="button">Contact</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="page-header text-center">
    <h1>A few things about me</h1>
  </div>
</div>

</br>

<div class="row">
  <div class="container">
    <ul class="list-group">
      <div class="col-md-4">
        <li class="list-group-item text-center">Christ Follower</li>
      </div>
      <div class="col-md-4">
        <li class="list-group-item text-center">Have the most amazing wife in the world</li>
      </div>
      <div class="col-md-4">
        <li class="list-group-item text-center">Father of a dog named Dexter</li>
      </div>
  </div>
</div>

</br>

<div class="row">
  <div class="container">
    <ul class="list-group">
      <div class="col-md-4">
        <li class="list-group-item text-center">Soon to be father of a human (a boy!)</li>
      </div>
      <div class="col-md-4">
        <li class="list-group-item text-center">Spend way too much time on Twitter</li>
      </div>
      <div class="col-md-4">
        <li class="list-group-item text-center">Self taugh developer</li>
      </div>
  </div>
</div>

</br>

<div class="row">
  <div class="container">
    <ul class="list-group">
      <div class="col-md-4">
        <li class="list-group-item text-center">Have a passion for learning</li>
      </div>
      <div class="col-md-4">
        <li class="list-group-item text-center">Will whiteboard my disagreement scale in meetings</li>
      </div>
      <div class="col-md-4">
        <li class="list-group-item text-center">Self taugh developer</li>
      </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row">
  <div class="container">
    <div class="text-center">
      <h3 class="text-muted">Where you can find me on the internet</h3>
    </div>
  </br>
    <ul class="list-group">
      <div class="col-md-4">
        <a href="http://www.twitter.com/erickuhn19">
          <img src="images/twitter.png" alt="Twitter" class="img-responsive center-block"> 
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.github.com/erickuhn19">
          <img src="images/github.png" alt="Github" class="img-responsive center-block"> 
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.linkedin.com/in/erickuhn19">
          <img src="images/linkedin.png" alt="LinkedIn" class="img-responsive center-block"> 
        </a>
      </div>
  </div>
</div>


<hr class="featurette-divider">




