<div class="jumbotron-3">
  <div class="container">
    <h1> What do you want to know? </h1>
    </br>
  </div>
</div>

<hr class="featurette-divider">

    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">A not so outdated photo <span class="text-muted"></span></h2>
          <p class="lead">Christian, Husband, Expecting Father and Dog Lover. </p>
        </div>
        <div class="col-md-5">
          <img src="/images/eric.jpeg" alt="Eric Kuhn" class="featurette-image img-responsive center-block">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Twitter </h2>
          <p class="lead">I spend the majority of my time on Twitter  </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        <a href="http://www.twitter.com/erickuhn19">
          <img src="/images/twitter.png" alt="Twitter" class="featurette-image img-responsive center-block"> 
        </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Github <h2>
          <p class="lead">Check out my latest projects on Github. You can find me hacking away on Swift. </p>
        </div>
        <div class="col-md-5">
        <a href="http://www.github.com/erickuhn19">
          <img src="/images/github.png" alt="Github" class="featurette-image img-responsive center-block"> 
        </a>
        </div>
      </div>
      
    

    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">LinkedIn </h2>
          <p class="lead">A necessary evil... The worst user experience but I have to be on it.  </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        <a href="http://www.linkedin.com/in/erickuhn19">
          <img src="/images/linkedin.png" alt="LinkedIn" class="featurette-image img-responsive center-block"> 
        </a>
        </div>
      </div>
  </div>

<hr class="featurette-divider">






