<div class="jumbotron-3">
  <div class="container">
    <h1 class="text-center">Send Eric Bitcoin</h1>
    </br>
  </div>
</div>

<div>
  <a class="donate-with-crypto"
     href="https://commerce.coinbase.com/checkout/532134a9-4cfb-42fa-8f76-f6bf4f102ccd">
    <span>Donate with Crypto</span>
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js">
  </script>
</div>