
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-md-offset-2 col-lg-9 col-lg-offset-3">
          <h1>In Permanent Beta</h1>
        </br>
          <p>Receive my articles by email </p>
        </br>
            <form class="form-inline" action="http://erickuhn19.us4.list-manage.com/subscribe/post" method="POST">
              <div class="form-group input-group-lg">
                <input type="hidden" name="u" value="9c56c0418442293daf66d0976">
                <input type="hidden" name="id" value="ffea399064">
                <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="your@email.com" autofocus>
                <button id="submit" class="btn btn-primary btn-lg" >Sign Up &raquo;</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


      <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Started my programming journey with <span class="text-muted">Ruby on Rails</span></h2>
          <p class="lead">With an amazing open source community and a diverse universe of gems, Rails is a great framework for building powerful web applications. </p>
        </div>
        <div class="col-md-5">
          <img src="images/rails.png" alt="Ruby on Rails" class="featurette-image img-responsive center-block">
        </div>
      </div>
      
    

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Next I learned how to create a light weight full featured site with <span class="text-muted">Middleman</span></h2>
          <p class="lead">Static site generators such as Middleman are perfect for loading pages that don't need to change, like this site.  </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="images/middleman.jpeg" alt="Middleman" class="featurette-image img-responsive center-block">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">At Rokk3r Labs I've been conducting <span class="text-muted">Product Design Sprints</span></h2>
          <p class="lead">This process has helped me find Product Market Fit. Product Design Sprints are an intense 5 day process to answer the most critical questions about a business. Created by the Google Venture Design team. </p>
        </div>
        <div class="col-md-5">
          <img src="images/sprint.png" alt="Product Design Sprint" class="featurette-image img-responsive center-block">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Now my journey has led me to <span class="text-muted">iOS Development with Swift</span></h2>
          <p class="lead">Read about my progress and upcoming apps in my blog!  </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="images/swift.png" alt="Swift" class="featurette-image img-responsive center-block">
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="jumbotron-2">
      <div class="container">
          <h2 class="text-center">Receive my articles by email </p>
        </br>
            <form class="form-inline text-center" action="http://erickuhn19.us4.list-manage.com/subscribe/post" method="POST">
              <div class="form-group input-group-lg">
                <input type="hidden" name="u" value="9c56c0418442293daf66d0976">
                <input type="hidden" name="id" value="ffea399064">
                <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="your@email.com" autofocus>
                <button id="submit" class="btn btn-primary btn-lg" >Sign Up &raquo;</button>
              </div>
            </form> 
      </div>
    </div>

    </div>


