
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <!-- <div class="col-sm-12 col-md-12 col-md-offset-2 col-lg-9 col-lg-offset-3"> -->
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <h1>Eric Kuhn</h1>
        <hr class="small">
          <h2>Product Manager </h2>
        </br>
          <a href="/blog" type="button" class="btn btn-primary">Read Blog Articles</a>
          </div>
        </div>
      </div>
    </div>


      <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Product Manager with <span class="text-muted"><a href="http://www.fisglobal.com">FIS</a></span></h2>
          <p class="lead">I’m a technical, user focused team leader that can work closely with engineers and designers to build products that maximizes value for the business.  </p>
        </div>
        <div class="col-md-5">
          <img src="images/PM.png" alt="PM" class="featurette-image img-responsive center-block">
        </div>
      </div>
      
    

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Product Design Sprints <span class="text-muted">with startups</span></h2>
          <p class="lead">Product Design Sprints are an intense 5 day process to answer the most critical questions about a business. Created by the Google Venture Design team.  </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="images/sprint.png" alt="Product Design Sprint" class="featurette-image img-responsive center-block">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">iOS Developer <span class="text-muted">with Swift</span></h2>
          <p class="lead">Started with web development in Ruby on Rails and now focusing my time on mobile. </p>
        </div>
        <div class="col-md-5">
          <img src="images/swift.png" alt="Swift" class="featurette-image img-responsive center-block">
        </div>
      </div>


    <hr class="featurette-divider">

    <div class="jumbotron-2">
      <div class="container">
          <h2 class="text-center">Receive my articles by email </p>
        </br>
            <form class="form-inline text-center" action="http://erickuhn19.us4.list-manage.com/subscribe/post" method="POST">
              <div class="form-group input-group-lg">
                <input type="hidden" name="u" value="9c56c0418442293daf66d0976">
                <input type="hidden" name="id" value="ffea399064">
                <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="your@email.com" >
                <button id="submit" class="btn btn-primary btn-lg" >Sign Up &raquo;</button>
              </div>
            </form> 
      </div>
    </div>

    </div>


