
    <div class="jumbotron">
      <div class="container">
          <h1 class="text-center">Startup Partner </br>at Rokk3r Labs</h1>
        </br>
          <p class="text-center">Receive my articles by email </p>
        </br>
            <form class="form-inline text-center" action="http://erickuhn19.us4.list-manage.com/subscribe/post" method="POST">
              <div class="form-group input-group-lg">
                <input type="hidden" name="u" value="9c56c0418442293daf66d0976">
                <input type="hidden" name="id" value="ffea399064">
                <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="your@email.com" autofocus>
                <button id="submit" class="btn btn-primary btn-lg" >Sign Up &raquo;</button>
              </div>
            </form> 
      </div>
    </div>


      <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Product Design Sprints <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
    </div>

      <hr class="featurette-divider">

    <div class="jumbotron-2">
      <div class="container">
          <h2 class="text-center">Receive my articles by email </p>
        </br>
            <form class="form-inline text-center" action="http://erickuhn19.us4.list-manage.com/subscribe/post" method="POST">
              <div class="form-group input-group-lg">
                <input type="hidden" name="u" value="9c56c0418442293daf66d0976">
                <input type="hidden" name="id" value="ffea399064">
                <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="your@email.com" autofocus>
                <button id="submit" class="btn btn-primary btn-lg" >Sign Up &raquo;</button>
              </div>
            </form> 
      </div>
    </div>

    </div>


