<div class="jumbotron-3">
  <div class="container">
    <h1 class="text-center">Thank you for contacting me!</h1>
  </br>
    <p class="text-center">I will be in touch with you shortly. For now, check out my blog.</p>
    </br>
  </div>
</div>